<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="sendReport(myForm.value)">
    <div class="form-group">
      <label>Add Existing Location</label>
      <select
        class="form-control"
        id="existing-location"
        formControlName="location"
      >
        <option>Select Location</option>
        <option *ngFor="let location of existingLocations">
          {{ location }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>New Location</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Location"
        formControlName="location"
      />
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Latitude"
        formControlName="latitude"
      />
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Longitude"
        formControlName="longitude"
      />
    </div>
    <div class="form-group">
      <label>Person Reported</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Name"
        formControlName="personReported"
      />
    </div>
    <div class="form-group">
      <label>Date of Visit</label>
      <input
        type="date"
        class="form-control"
        placeholder="Enter Date"
        formControlName="dateOfVisit"
      />
    </div>
    <div class="form-group">
      <label>Time</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Time"
        formControlName="time"
      />
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input
        type="tel"
        class="form-control"
        placeholder="Enter Phone Number"
        formControlName="phoneNumber"
      />
    </div>
    <div class="form-group">
      <label>Extra Notes</label>
      <input
        type="text"
        class="form-control"
        placeholder="Extra Notes"
        formControlName="extraNotes"
      />
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
