<table class="table">
  <caption>
    More Info
  </caption>
  <tr>
    <th scope="row">Name</th>
    <td>{{ report.data.personReported }}</td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td>{{ report.data.phoneNumber }}</td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td>{{ report.data.location }}</td>
  </tr>
  <tr>
    <th scope="row">Longitude</th>
    <td>{{ report.data.longitude }}</td>
  </tr>
  <tr>
    <th scope="row">Latitude</th>
    <td>{{ report.data.latitude }}</td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>{{ report.data.dateOfVisit }}</td>
  </tr>
  <tr>
    <th scope="row">Time</th>
    <td>{{ report.data.time }}</td>
  </tr>
  <tr>
    <th scope="row">Extra Notes</th>
    <td>{{ report.data.extraNotes }}</td>
  </tr>
</table>
